div.image {
    border: 10px;
    align-self: center;
    content:url(https://lh3.googleusercontent.com/-Fb5_xh9i5XI/XFKtlO42I9I/AAAAAAAAA38/uYM2rngtTSkmDgEouw2eCA4EkAQqVkQ1QCL0BGAs/w663-d-h663-n-rw/STbutt.JPG);
 }​